<div class="form-user">
<h2>회원가입</h2>

<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="6F936LFjtBpoDGRP8idZOp9+r44+5C9bapA5krBc0NeOP4xa5pklVhG5LQBxiBROtlaz0BONAgNPKWcX9WKS3Q==" />
  <div class="field">
    <!-- 이메일 주소  -->
    <label for="user_email" class="sr-only">Email</label><br />
    <input autofocus="autofocus" type="email" class="form-control" name="user[email]" id="user_email" placeholder="이메일 주소" required autofocus>
    <!-- 비밀번호  -->
    <label for="user_password" class="sr-only">Password</label>
    <input autocomplete="off" type="password" class="form-control" name="user[password]" id="user_password" placeholder="비밀번호 (최소 8자)" required autofocus>
    <!-- 비밀번호 확인  -->
    <label for="user_password_confirmation" class="sr-only" >Password confirmation</label>
    <input autocomplete="off" type="password" class="form-control" name="user[password_confirmation]" id="user_password_confirmation"  placeholder="비밀번호 확인" required autofocus>
  </div>

  <div class="actions">
    <button type="submit" name="commit" class="btn btn-default btn-lg btn-block">회원가입</button>
  </div>
</form>

<%= render "devise/shared/links" %>

</div> <!--form signup-->