
    <div class="container-fluid">
      <div class="row">
         <%= render :partial => "home/partials/sidebar" %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">안녕 여기는 리쿠르트</h1>
        </div> <!--col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main-->
      </div> <!--row-->
    </div> <!--container-->