    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/home/likelion">멋쟁이 사자처럼</a></li>
            <li><a href="/home/member">회원 소개</a></li>
            <li><a href="/home/recruit">모집</a></li>
          </ul>
        </div>
     </div>